* {
    margin: 0;
    padding: 0;
    // box-sizing: border-box;
}

.gridContainer {
    display: grid;
    background-color: #eeeeee;
    grid-template-columns: 1fr ;
    grid-template-rows: auto auto 210px;
    gap: 0px 0px;
    
    grid-template-areas:
        "header "  
        "main "
        "footer ";
}